<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".views.TorneosActivity"
            android:exported="false" />
        <activity
            android:name=".views.MetricasActivity"
            android:exported="false" />
        <activity
            android:name=".views.RankingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.ActivityPrincipal"
            android:exported="true" />
        <activity
            android:name=".views.EnvioSMSActivity"
            android:exported="true" />
        <activity
            android:name=".views.VerificacionCodSMSActivity"
            android:exported="true" />
        <activity
            android:name=".views.VerificacionUserLoginActivity"
            android:exported="true" />
        <activity
            android:name=".views.VerificacionUserSignupActivity"
            android:exported="true" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".models.HTTPServiceLogin"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".models.HTTPServiceSignup"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".models.HTTPServiceRegistrarEvento"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>